@import '~bootstrap/scss/bootstrap';

/* General styles */



body {
    background-color: #f3f3f3;
    font-family: Futura, sans-serif;
  }
  
  .wrapper {
    margin: 24px 180px;
  }
  
  h1 {
    color: #716eb6;
    text-align: center;
  }
  
  /* Table styles */
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  td,
  th {
    padding: 0;
    text-align: left;
  }
  
  td:first-of-type {
    padding-left: 36px;
    width: 66px;
  }
  
  .c-table {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 24px;
    width: 100%;
  }
  
  .c-table__cell {
    padding: 12px 6px 12px 12px;
    word-wrap: break-word;
  }
  
  .c-table__header tr {
    color: #fff;
  }
  
  .c-table__header th {
    background-color: #716eb6;
    padding: 18px 6px 18px 12px;
  }
  
  .c-table__header th:first-child {
    border-top-left-radius:  4px;
  }
  
  .c-table__header th:last-child {
    border-top-right-radius: 4px;
  }
  
  .c-table__body tr {
    border-bottom: 1px solid rgba(113, 110, 182, 0.15);
  }
  
  .c-table__body tr:last-child {
    border-bottom: none;
  }
  
  .c-table__body tr:hover {
    background-color: rgba(113, 110, 182, 0.15);
    color: #272b37;
  }
  
  .c-table__label {
    display: none;
  }
  
  /* Mobile table styles */
  
  @media only screen and (max-width: 767px) {
  
      table, thead, tbody, th, td, tr { 
          display: block; 
    }
    
    td:first-child { 
      padding-top: 24px;
    }
  
    td:last-child { 
      padding-bottom: 24px;
    }
    
    .c-table {
      border: 1px solid rgba(113, 110, 182, 0.15);
      font-size: 15px;
      line-break: 1.2;
    }
  
    .c-table__header tr { 
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
    
    .c-table__cell { 
      padding: 12px 24px;
          position: relative; 
      width: 100%;
      word-wrap: break-word;   }
  
    .c-table__label {
      color: #272b37;
      display: block;
      font-size: 10px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 6px;
      text-transform: uppercase;
    }
   
    .c-table__body tr:hover {
      background-color: transparent;
    }
  
    .c-table__body tr:nth-child(odd) {
      background-color: rgba(113, 110, 182, 0.04); 
    }
    
  }



  * {
    box-sizing: border-box;
  }

$colorBase1: #f0f0f0;
$colorInputText: #cfcece;

html {
  font-family: 'Lato', sans-serif;
}

.section-form {
  width: 37em;
  margin: 3em auto;
  background-color: $colorBase1;
  padding: 2em;

  $headingSize: 1.6em;
  
  .intro {
    margin-bottom: 2em;
  }
  
  h1 {
    text-align: center;
    font-size: $headingSize;
    margin-bottom: 0.6em;
  }
  
  h2 {
    text-align: center;
    font-size: $headingSize / 1.3;
  } 
}

input[type=text] {
  height: 45px; 
}

input[type=text], textarea {
  width: 100%;
  margin-bottom: 1em;
  font-size: .9em;
  color: $colorInputText;
  font-weight: 300;
  padding: .5em 1em;
  border: none;
  color: #555555;
  font-weight: 300;
}

input[type=button] {
  cursor: pointer;
  margin: 0;
  padding: .5em 2em;
  background: #636363;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}



@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.shop-card {
  @include center;
  width: 350px;
  background: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0,0,0,.3);
  overflow: hidden;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  z-index: 2;

  figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    outline: none!important;

    & img {
      margin: -95px 0 -60px;
      width: 100%;
    }
  }

  .title {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    color: #23211f;
    margin-bottom: 5px;
  }

  .desc {
    font-size: 17px;
    opacity: .8;
    margin-bottom: 3px;
  }

  .cta {
    padding: 20px 20px 5px;

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .price {
    float: left;
    color: #914efd;
    font-size: 22px;
    font-weight: 900;
    padding-top: 2px;
    transition: color .3s ease-in-out;
    margin-top: 4px;
  }

  .btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: #6200ff;
    padding: 12px 18px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    line-height: .95;
    border: none;
    background: none;
    outline: none;
    border: 1px solid #8400ff;
    border-radius: 20px;
    overflow: hidden;
    
    & .bg {
      width: 101%;
      height: 101%;
      display: block!important;
      z-index: -1;
      opacity: 0;
      transition: all .3s ease-in-out;
      background: linear-gradient(135deg, #5313a6, #8b34d3);
    }
    
    &:hover {
      color: #fff!important;
      border: 1px solid transparent!important;
      
      & .bg {
        opacity: 1;
      }
    }
    
  }

}

.bg {
  @include center;
  width: 100%;
  height: 100%;
  background: linear-gradient(15deg, #d33f34 50%, #a61322 50.1%);
  z-index: 1;
  display: none;
}



$color-border: #eee;
$color-label: #aaa;

.product-image {
  float: left;
  width: 20%;
}
.product-details {
  float: left;
  width: 37%;
}
.product-price {
  float: left;
  width: 12%;
}
.product-quantity {
  float: left;
  width: 10%;
}
.product-removal {
  float: left;
  width: 9%;
}
.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}


.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

.shopping-cart,
.column-labels,
.product,
.totals-item {
  @extend .group;
}


.product .product-price:before,
.product .product-line-price:before,
.totals-value:before {
  content: "$";
}




h1 {
  font-weight: 100;
}

label {
  color: $color-label;
}

.shopping-cart {
  margin-top: -45px;
}


.column-labels {
  label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $color-border;
  }



}


.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-border;



  .product-details {
    .product-title {
      margin-right: 20px;

    }
    .product-description {
      margin: 5px 20px 5px 0;
      line-height: 1.4em;
    }
  }



  .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
  }

  .remove-product:hover {
    background-color: #a44;
  }
}

.totals {
  .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;

    label {
      float: left;
      clear: both;
      width: 79%;
      text-align: right;
    }

    .totals-value {
      float: right;
      width: 21%;
      text-align: right;
    }
  }


}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}



@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid $color-border;
  }

  .column-labels {
    display: none;
  }


  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }

  .product-price {
    clear: both;
    width: 70px;
  }

  .product-quantity {
    width: 100px;
    input {
      margin-left: 20px;
    }
  }

  .product-quantity:before {
    content: "x";
  }

  .product-removal {
    width: auto;
  }

  .product-line-price {
    float: right;
    width: 70px;
  }
}

@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }

  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }

  .product .product-line-price:before {
    content: "Item Total: $";
  }

  .totals {
    .totals-item {
      label {
        width: 60%;
      }

      .totals-value {
        width: 40%;
      }
    }
  }
}



.verde{

  color: rgb(3, 185, 3);
  text-align: center;

}

.rojo{

  color:red;
  text-align: center;

}

.cent{

display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.height {
  height: 25px;

}

.hover:hover {
  cursor: pointer;

}



.item,
.price {
  clear: left;
  width: 100%;
  text-align: center;
}

.productimage{

max-width: 200px;
max-height: 200px;

}


.description {
  float: left;
  clear: left;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  margin: 0.2em auto;
}
